{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stylometric Query Processing using Deep Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/deep_stylo.css' %}">
</head>

<body>

<div class="base">

    <div class="page-header">
        <div>
            <h1 class="site-name"><a href="/">Stylometric Query Processing using Deep Learning</a></h1>
        </div>

        {% if user.is_authenticated %}

            <div class="user-tools">

                Welcome,
                <strong>
                    {% if user.first_name != "" and user.first_name != " " and user.first_name is not null %}
                        {{ user.first_name }}

                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </strong>.

                <br/>

                <div class="user-function">

                    <a href="{% url 'query_new' %}">
                        Add Query
                    </a>

                    /

                    <a href="/deep_stylo/password_change/">
                        Change Password
                    </a>

                    /

                    <a href="{% url 'logout' %}">
                        Log Out
                    </a>

                </div>

            </div>
        {% else %}
            <div class="user-tools">

                <a href="{% url 'login' %}" class="user-tools">Login</a>

            </div>
        {% endif %}
    </div>

    <div class="content">

        <div class="row">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

</body>

</html>