{% extends 'deep_stylo/base.html' %}

{% block content %}

    <table class="table">

        <thead class="thead-inverse">
        <tr>
            <th>Doc ID</th>
            <th>Author List</th>
            <th>Test Accuracy</th>
            <th>Test Result</th>
            <th>Status</th>
            <th>Upload Date</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        {% for result in results %}
            <tr>
                <td>
                    {{ result.doc_id }}
                </td>
                <td>
                    {{ result.authorList }}
                </td>
                <td>
                    {% if result.test_acc is None %}
                        NA
                    {% else %}
                        {{ result.test_acc }}
                    {% endif %}
                </td>
                <td>
                    {% if result.test_bin is None %}
                        NA
                    {% else %}
                        {{ result.test_bin }}
                    {% endif %}
                </td>
                <td>
                    {% if result.completed >= 1.0 %}
                        Completed
                    {% else %}
                        To be run
                    {% endif %}
                </td>
                <td>
                    {{ result.upload_date }}
                </td>
                <td>
                    <a href="/deep_stylo/delete/">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endblock %}