body {
    background: #f8f8f8;
}

.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 600px;
    margin: 100px auto;
}

.login .login-page-header h1 {
    font-size: 24pt;
    text-align: center;
    width: auto;
    background: #417690;
    color: #fcfffc;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
}

.login .login-page-header h1,
.login .login-page-header h1 a,
.login .login-page-header h1 a:visited,
.login .login-page-header h1 a:active {
    color: #ff9400;
    text-decoration: none;
}

.login .login-content {
    text-align: center;
    width: auto;
    background: #fff;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
}

.login table {
    margin: 0 auto;
}

.base .page-header {
    width: auto;
    background: #417690;
    color: #fcfffc;
    overflow: hidden;
    padding: 20px;
    font-size: 18pt;
    text-decoration: none;
}

.base .page-header h1, .base .page-header h1 a, .base .page-header h1 a:visited, .base .page-header h1 a:active {
    color: #ff9400;
    font-size: 36pt;
    text-decoration: none;
}

.base .user-tools h1, .base .user-tools h1 a, .base .user-tools h1 a:visited, .base .user-tools h1 a:active {
    color: #001247;
    text-decoration: none;
}

.base .user-tools {
    color: #fffccf;
    text-decoration: none;
}

.base .user-tools .user-function {
    font-size: 14pt;
}

.base .user-tools a, .base .user-tools a:visited, .base .user-tools a:active {
    color: #fcfffc;
    font-size: 14pt;
    text-decoration: none;
}

.disclaimer {
    color: #ff0000;
    font-size: 10pt;
}

.base .content {
    width: auto;
    background: #fff;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: none;
}

.query-form textarea, .query-form input {
    width: 100%;
}
